@media screen and (max-width:992px) {
    .nav-link{
        position: absolute;
        background-color: rgba(26, 24, 24, 0.749);
        width: 100%;
        flex-direction: column;
        gap: 10px;
        top:-500px;
        left: 0;
        padding-block: 20px;
    }
    .nav-link li{
        padding-block: 10px;
    }
    .nav-link li a{
        color: white;
    }
    .bar{
        display: initial;
        cursor: pointer;
    }
    .nav{
        padding-inline: 20px;
        width: 100%;
    }
}

@media (max-width:768px) {
    .signupbtn{
        display: none;
    }
    .card-box{
        width: 48%;
    }
    .card-img{
        justify-content: space-evenly;
    }
    .secondary-btn{
        padding: 12px 20%;
    }
}

@media (max-width:480px) {
    .nav{
        padding:0;
    }
    .logo>img{
        height: 35px;
    }
    .hero-part{
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .hero-img>img{
        width: 100%;
    }
    .hero-text{
        width: 100%;
    }
    .hero-text>h2,big-hero-right>h2{
        font-size: 2rem;
    }
    .secondary-btn{
        width: 100%;
    }
    .get-start-btn{
        padding-inline:30%;
    }
    .card-img{
        flex-direction: column;
        padding-top:10px;
        width: 100%;
    }
    
    .big-hero-box{
        flex-direction: column;

    }
    #special-big-hero{
        flex-direction: column;
    }
    .big-hero-right{
        padding-block: 70px;
    }
}